<header>
  <nav>
    <a href="{{ "/" | url }}">{{ site.name }}</a>
    <ul>
      {% for page in collections.page %}
        <li>
          <a href="{{ page.url | url }}">{{ page.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
