code[class*=language-],
pre[class*=language-] {
  color: #d6deeb;
  font-family: "Source Code Pro", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  color: white;
  background: #011627;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #637777;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.namespace {
  color: #b2ccd6;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #80cbc4;
}

.token.tag,
.token.operator,
.token.keyword {
  color: #7fdbca;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: #82aaff;
}

.token.selector,
.token.doctype {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: #addb67;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: #ffcb8b;
}

.token.regex,
.token.important,
.token.variable {
  color: #d6deeb;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body > header,
body > main,
body > footer {
  grid-column: 1/-1;
  padding: 1rem;
}
body > main > * + * {
  margin-top: 1rem !important;
}
@media (min-width: 600px) {
  body > main {
    grid-column: 2/-2;
  }
}
@media (min-width: 1200px) {
  body > main {
    grid-column: 3/-3;
  }
}
@media (min-width: 600px) {
  body > main#archive {
    grid-column: 4/-4;
  }
}
@media (min-width: 600px) {
  body > main#contact {
    grid-column: 3/-3;
  }
}
@media (min-width: 1200px) {
  body > main#contact {
    grid-column: 5/-5;
  }
}
body > main#contact form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (min-width: 600px) {
  body > main#contact form {
    grid-gap: 1rem;
  }
}
body > main#contact form > label,
body > main#contact form > input,
body > main#contact form > textarea {
  grid-column: 1/-1;
  font-size: 1rem;
}
body > main#contact form > label {
  display: flex;
}
@media (min-width: 600px) {
  body > main#contact form > label {
    grid-column: 1/2;
    align-items: center;
    justify-content: flex-end;
  }
  body > main#contact form > label:last-of-type {
    align-self: flex-start;
  }
}
body > main#contact form > textarea {
  font-family: inherit;
}
body > main#contact form > input,
body > main#contact form > textarea {
  padding: 0.25rem 0.5rem;
}
@media (min-width: 600px) {
  body > main#contact form > input,
body > main#contact form > textarea {
    grid-column: 2/-1;
    font-size: 1rem;
  }
}
body > main#contact form > input + label,
body > main#contact form > textarea + label,
body > main#contact form > textarea + input {
  margin-top: 1rem;
}
@media (min-width: 600px) {
  body > main#contact form > input + label,
body > main#contact form > textarea + label,
body > main#contact form > textarea + input {
    margin-top: 0;
  }
}
body > main#contact form > input[type=submit] {
  font-size: 1.5rem;
}

article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1rem;
}
article > * {
  grid-column: 1/-1;
}
article img {
  max-width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
article img:hover {
  transform: scale(1.025);
}
article figure {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1rem;
}
article figure > img,
article figure > figcaption {
  width: 100%;
  grid-column: 1/-1;
}
@media (min-width: 600px) {
  article figure > img,
article figure > figcaption {
    grid-column: 3/-3;
  }
}
@media (min-width: 1200px) {
  article pre {
    grid-column: 3/-3 !important;
  }
}

/*# sourceMappingURL=/style.css.map */